@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
 @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
 * {
	 margin: 0;
	 padding: 0;
	 font-family: 'Signika', sans-serif;
}
/*  */
.img-container {
  /* height: 100vh; */
  overflow: hidden;
  position: relative;
  /* width: 100vw; */
	height: 320px;
	width: 100%;
}

.img-container img {
  height: 100%;
  left: 20px;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.img-container img.next {
  opacity: 1;
  z-index: 1;
}

.img-container img.prev {
  opacity: 1;
  z-index: 2;
}

.img-container img.fade-out {
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
  visibility: hidden;
}


.product-card {
	 height: 500px;
	 width: 100%;
	 background-color: white;
	 /* border-radius: 25px; */
	 overflow: hidden;
	 display: flex;
	 flex-direction: column;
	 left: 20px;
}
.product-card .product-name h5 {
	 font-weight: 600px;
	 font-size: 28px;
}
.product-card .product-image {
	 position: relative;
	 /* height: inherit; */
	 max-height: 340px !important;
}
.product-card .product-image .tag-discount {
	 position: absolute;
	 width: 50px;
	 text-align: center;
	 background-color: green;
	 color: #fff;
	 top: 7%;
	 right: 0;
	 transition: all 650ms ease;
	 border-radius: 20px 0 0 20px;
}
.product-card .product-image .tag-discount:hover {
	 width: 100%;
	 border-radius: 0;
}
.product-card .product-image .ribbon {
	 position: absolute;
	 display: inline-block;
	 top: 0.3em;
	 right: 0.8em;
	 max-width: 5em;
	 color: #fff;
	 z-index: 1;
}
.product-card .product-image .ribbon span {
	 position: absolute;
	 top: 10px;
	 right: -3px;
	 transform: rotatez(45deg);
	 color: white;
	 font-weight: bold;
}
.product-card .product-image .ribbon::after {
	 position: absolute;
	 top: -1.5em;
	 right: -6em;
	 content: "";
	 height: 5em;
	 width: 10em;
	 transform: rotatez(45deg);
	 background-color: #da0037;
	 z-index: -1;
}
.product-card .product-image img {
	 width: 100%;
	 transition: all 650ms ease;
}
.product-card .product-image img:hover {
	 transform: scale(1.2);
}
.product-card .product-detail {
	 height: 100%;
	 width: 100%;
	 position: relative;
	 background-color: white;
	 padding-left: 10px;
	 padding-right: 10px;
	 padding-top: 10px;
	 z-index: 1;
}
.product-card .product-detail .product-price-tag {
	 display: flex;
	 flex-direction: row;
	 align-items: baseline;
	 justify-content: space-between;
}
.product-card .product-detail .product-price-tag .product-price .discounted {
	 text-decoration: line-through 2px solid #666;
	 padding: 0;
	 margin: 0;
}
.product-card .product-detail .product-price-tag .product-price .discounted-price {
	 padding: 0;
	 margin: 0;
	 font-size: 18px;
	 text-align: center;
	 font-weight: bold;
	 transform: translateY(-3px);
}
.product-card .product-detail .product-size-color {
	 align-items: flex-end;
}
.product-card .product-detail .product-size-color h5 {
	 font-size: 16px;
	 font-weight: bold;
}
.product-card .product-detail .product-size-color .product-colors .colors {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-around;
}

.product-card .product-detail .product-size-color .product-colors .colors .color-red {
	 background-color: #611223;
}
.product-card .product-detail .product-size-color .product-colors .colors .color-blue {
	 background-color: #313b95;
}
.product-card .product-detail .product-size-color .product-colors .colors .color-black {
	 background-color: #303030;
}
.product-card .product-detail .product-size-color .product-colors .colors .color-orange {
	 background-color: #c85625;
}
.product-card .product-detail .product-size-color .product-colors .colors .active {
	 width: 25px;
	 height: 25px;
	 border: 1px solid black;
}
.product-card .product-detail .product-size-color .product-colors .colors .disable {
	 cursor: not-allowed !important;
}
.product-card .product-detail .product-size-color .product-size .text {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 align-items: center;
}
.product-card .product-detail .product-size-color .product-size .text p {
	 position: relative;
	 font-size: 10px;
	 transform: translateY(5px);
	 cursor: pointer;
	 overflow: hidden;
	 z-index: 1;
}
 .product-detail .product-size-color .product-size .text p::before {
	 content: "";
	 position: absolute;
	 height: 2px;
	 width: 100%;
	 background-color: grey;
	 bottom: 0;
	 left: -100%;
	 z-index: -1;
	 transition: all 650ms ease;
}
 .product-detail .product-size-color .product-size .text p:hover::before {
	 left: 0%;
}
 .product-detail .product-size-color .product-size .sizes {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-around;
}
 .product-detail .product-size-color .product-size .sizes .size-square {
	 height: 20px;
	 width: 20px;
	 border: 1px solid grey;
	 border-radius: 3px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 transition: all 650ms ease;
}
 .product-detail .product-size-color .product-size .sizes .size-square span {
	 font-size: 13px;
	 color: gray;
	 transition: all 650ms ease;
}
 .product-detail .product-size-color .product-size .sizes .size-square:hover {
	 border: 1px solid black;
	 cursor: pointer;
	 background-color: grey;
}
 .product-detail .product-size-color .product-size .sizes .size-square:hover span {
	 color: black;
}
 .product-detail .product-size-color .product-size .sizes .disable {
	 cursor: not-allowed !important;
	 text-decoration: line-through;
}
 .product-detail .product-size-color .product-size .sizes .disable:hover {
	 border: 1px solid grey;
	 background-color: white;
}
.product-card .product-detail .cta {
	 width: 110%;
	 position: relative;
	 bottom: 0;
	 margin-top: 20px;
}
.product-card .product-detail .cta .btn {
	 width: 51% !important;
	 left: -1%;
	 border-radius: 0px;
	 transition: all 650ms ease;
}
.product-card .product-detail .cta .btn-cart {
	 opacity: 0.6;
	 position: absolute;
}
.product-card .product-detail .cta .btn-cart:hover {
	 width: 100% !important;
}
.product-card .product-detail .cta .btn-cart:hover ~ .btn-buy {
	 left: 100%;
}
.product-card .product-detail .cta .btn-buy {
	 position: absolute;
	 left: 50%;
}
.product-card .product-detail .cta .btn-buy:hover {
	 width: 100% !important;
	 left: 0%;
}
.product-card .product-detail .cta .btn-buy:hover ~ .btn-cart {
	 left: -50%;
	 background-color: red;
}
.product-card .product-detail .cta .btn-wish-list {
	 opacity: 0.75;
	 width: 100% !important;
}


